[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[user]
	name = John Gasper
	email = jtgasper3@gmail.com
[core]
	excludesfile = /Users/jtgasper3/.gitignore_global
[commit]
	template = /Users/jtgasper3/.stCommitMsg
